#error {
	color: red;
}

#ipa {
	font-family: "Times New Roman";
	padding-left: 10px;
	color: #CCC;
}

#container {
	position: absolute;
	height: 320px;
	width: 70%;
	left: 15%;
	border: 2px solid #CCC;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

body {
	font-family: Arial;
}

button {
	font-size: 100%;
}

#feedback {
	margin-top: 25px;
}

#content {
	margin-top: 40px;
}

.hidden {
	display: none !important;
}